.Opener {
    text-align: center;
    font-size: 50px;
    color: #333;
    margin-bottom: 10px;
}
  
.OpenerCaps {
    text-align: center;
    position: relative;
    font-size: 30px;
    width: 50vw;
    left: 25vw;
    color: #777;
    margin-bottom: 20px;
}

.OpenerContainer {
    position: relative;
    top: 10vh;
    padding-bottom: 50vh;
}


.OpenerBackground {
    position: absolute;
    width: 50vw;
    left: 0px;
}

.btn, .btn-gray, .btn-gray-outline {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    transition: all 0.3s;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    font-size: 25px;
  }
  
  .btn-gray {
    color: white;
    background-color: #646464;
    border: 3px solid #646464;
  }
  
  .btn-dark {
    color: white;
    background-color: #181a1b;
  }
  
  .btn-gray-outline {
    color: #646464;
    background-color: transparent;
    border: 3px solid #646464;
  }
  
  .btn-gray:hover {
    transition: all 0.3s ease;
    background: #646464;
    border: 3px solid #646464;
  }
  
  .btn-gray-outline:hover {
    color: white;
    background-color: #646464;
  }

.center-div {
    justify-content: center;
    text-align: center;
}

@media (max-width: 900px) {
  .Opener {
    text-align: center;
    font-size: 35px;
    color: #333;
    margin-bottom: 10px;
  }
    
  .OpenerCaps {
      text-align: center;
      position: relative;
      font-size: 20px;
      width: 50vw;
      left: 25vw;
      color: #777;
      margin-bottom: 20px;
  }
}