.navbar {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
  
.navbar-left {
    flex: 1;
}
  
.navbar-right {
    display: flex;
}
  
.navbar-brand,
.navbar-link {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease; /* Adding a transition effect */
    font-size: 20px;
}

.navbar-link:hover {
  color: gray; 
}
  
.navbar-link {
    margin-left: 10px;
}

.white-text {
    text-decoration: none;
}


/* Media query for mobile devices */
@media (max-width: 900px) {
    .navbar {
      flex-direction: column; /* Display the navbar items vertically */
      align-items: center; /* Align items to the start of the navbar */
    }
  
    .navbar-left {
      flex: none; /* Remove the flex property to make the left section take its natural width */
      display: none;
    }
  
    .navbar-right {
      display: block; /* Hide the right section on mobile devices */
      justify-content: center;
      flex: none; /* Remove the flex property to make the left section take its natural width */
    }
  
    .navbar-link {
        display: block; /* Change the display property to block for vertical layout */
        text-align: center;
    }
  }