@font-face {
  font-family: 'futurab';
  src: url('./components/fonts/futurab.ttf');
}

@font-face {
  font-family: 'Souvenir';
  src: url('./components/fonts/Souvenir-Medium.otf');
}

@font-face {
  font-family: 'Heavitas';
  src: url('./components/fonts/Heavitas.ttf');
}

@font-face {
  font-family: 'Alfa';
  src: url('./components/fonts/AlfaSlabOne-Regular.ttf');
}

/* <a href="https://www.freepik.com/free-photo/white-concrete-wall_4410360.htm#query=simple%20background&position=17&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik */
body {
  background-image: url(./components/imgs/white-concrete-wall.jpg);
  background-size: contain;
}

p, h2, h3, a {
  font-family: "Souvenir";
}

.title {
  text-align: center;
  font-family: 'Alfa';
  font-weight: 300;
}

.proj-container {
  background-color: #dfdede;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  transition: .3s ease;
  position: relative;
}

.proj-title {
  text-align: left;
  display: inline;
  color: #333;
  font-size: 30px;
  margin-bottom: 10px;
}

.proj-years {
  text-align: right;
  display: inline;
  color: hsl(0, 0%, 47%);
  font-size: 20px;
  margin-bottom: 10px;
}


.proj-loc {
  text-align: right;
  color: #777;
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
  position: absolute;
  right: 5vw;
  top: 1.75vh;
}

.proj-container p {
  position: relative;
  color: #555;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 17px;
}

.proj-container:hover {
  background-color: #c8c8c8;
}

.contact-link {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease; /* Adding a transition effect */
  font-size: 25px;
}

.contact-link:hover {
  color: gray;
}

hr {
  border-top: 1px solid lightgray;
}

a {
  cursor: pointer;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.clickable:hover {
  cursor: pointer;
  background-color: rgb(201, 207, 187);
}

.attributions p{
  font-size: 10px;
}

.attributions {
  font-size: 10px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.contact-link {
  margin-right: 6vw;
  margin-left: 5vw;
}
